<div class="example-full-width">
  <div md-dialog-title>App Info</div>
  <br xml:space="default"/>
  <br xml:space="default"/>
  <div class="example-full-width">
  <form [formGroup]="rForm" (ngSubmit)="saveForm(hideshowDial)" class="example-full-width">
    <div class="form-group" [ngClass]="{'has-error':!rForm.controls['appNamee'].valid}">
      <md-input-container class="example-full-width" style="width:100%">
        <input mdInput type="text" class="form-control" formControlName="appNamee" [(ngModel)]="myAppComponent.appNamee"
               placeholder="Enter App Name" required>
      </md-input-container>
      </div>
    <br xml:space="default"/>
    <div class="form-group" [ngClass]="{'has-error':!rForm.controls['appColore'].valid}">
      <div md-dialog-content="">
      <md-input-container class="example-full-width" style="width:100%">
        <input mdInput type="text" class="form-control" formControlName="appColore" [(ngModel)]="myAppComponent.appColore"
               placeholder="App Menu Color (#000fff)" required>
      </md-input-container>
      </div>
      <br xml:space="default"/>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!rForm.controls['userEmaile'].valid}">
      <div md-dialog-content="">
      <md-input-container class="example-full-width" style="width:100%">
        <input mdInput type="text" class="form-control" formControlName="userEmaile" [(ngModel)]="myAppComponent.userEmaile"
               placeholder="User Email" required>
      </md-input-container>
      </div>
    </div>
    <br xml:space="default"/>
    <div md-dialog-actions="right" class="md-card-right">
    <button md-raised-button color="primary" (click)="dialogRef.close()" type="submit"
             style="margin-right: 40px">Cancel
    </button>
    <button md-raised-button color="accent" (click)="saveForm(hideshowDial)" type="submit"
            [disabled]="!rForm.valid">Save
    </button></div>
  </form>
  </div>
</div>
